<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Nuno-Jacinto Challenge</a>
      <ul class="navbar-nav mr-auto">
        <li  *ngFor="let link of links" class="nav-item">
          <a class="nav-link" [routerLink]="link.url">{{link.name}}
          </a>
        </li>
      </ul>
  </nav>