<div class="row">
    <div class="col p-2">
        <form [formGroup]="generatorForm">
            <div class="input-group mb-3">
                <input class="form-control" placeholder="Char [a-z] " aria-label="Char [a-z] " formControlName="char"
                    maxlength="1">
            </div>
        </form>
    </div>
    <div class="col">
        <div class="p-2 float-right">
            <button type="button" class="btn btn-primary" (click)="startGenerator()" [disabled]="running">Run
                Generator</button>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th *ngFor="let row of matrix[0]; let i = index">{{i}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of matrix; let i = index">
            <th scope="row">{{i}}</th>
            <ng-container *ngFor="let column of row;">
                <td> {{column}} </td>
            </ng-container>
        </tr>
    </tbody>
</table>

<div class="text-center">
        Your code: <b>{{code?.number1}}{{code?.number2}}</b>

</div>
