<form [formGroup]="paymentForm">
    <div class="row">
        <div class="col-12 text-center p-4">
            <span>
                Your code now: <b *ngIf="code">{{code?.number1}}{{code?.number2}}</b>
            </span>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Payment" aria-label="Payment"
                    aria-describedby="button-payment" formControlName="name">
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <input type="number" class="form-control" placeholder="Amount" aria-label="Amount"
                    aria-describedby="button-amount" formControlName="amount" >
            </div>
        </div>
        <div class="col">
            <button [disabled]="!(paymentForm.valid && code)" type="submit" class="btn btn-primary" (click)="addPayment()">+ ADD</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-12">
    </div>
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Code</th>
                    <th scope="col">
                            Grid
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of paymentList">
                    <td scope="row">{{item.name}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.code}}</td>
                    <td>
                        <div style="max-width: 100px; overflow: hidden;">
                            {{item.grid}}
                        </div>
                        </td>
                </tr>

            </tbody>
        </table>

    </div>
</div>